<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.DBPAGOSLOTESConnectionString"
            connectionString="Data Source=USER-PC\SQLEXPRESS;Initial Catalog=DBPAGOSLOTES;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>